<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/observables">Observables</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/subjects">Subjects</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/test">Test</a>
    </div>
</nav>
<main class="p-2">
  <router-outlet></router-outlet>
</main>
<app-notifications></app-notifications>
